@font-face{
    font-family: IBMPlexSansJP;
    src: url(IBMPlexSansJP-Text.woff2)
}

$mintyo: Ryumin Medium KL,"リュウミン M-KL","游明朝","Yu Mincho","游明朝体","YuMincho","ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
$gosic: IBMPlexSansJP, "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;

$black: #383838;